Source: proxmox-kernel-helper
Section: admin
Priority: optional
Build-Depends: debhelper-compat (=13),
               lintian,
Maintainer: Proxmox Support Team <support@proxmox.com>

Package: proxmox-kernel-helper
Architecture: all
Section: admin
Priority: optional
Depends: dosfstools,
         gdisk,
         systemd,
         udev,
         ${misc:Depends},
Breaks: proxmox-ve (<< 6.0-2~), pve-kernel-helper
Replaces: proxmox-ve (<< 6.0-2~), pve-kernel-helper
Provides: pve-kernel-helper
Description: Function for various kernel maintenance tasks.
 This package includes kernel-hooks for marking certain kernels as
 NeverAutoRemove and helpers for systemd-boot
