#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	mv debian/proxmox-kernel-helper debian/tmp
	dh_install

override_dh_installsystemd:
	dh_installsystemd --no-start

.PHONY: build clean
build clean:
